services:
  - type: web
    name: instagram-checker-backend
    env: node
    region: singapore
    plan: free
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      NODE_ENV: "production"
